<ng-container *ngIf ="!showEditorWindow; else showWindow">

  <div class ='file-wrapper'>
  
    
    <div class ='file-header'>
     
    
      <mat-form-field>
        <div>
          <mat-toolbar>
            <input matInput [value]="fileName" accept=".xml" />
    
            <button
              mat-flat-button
              color="primary"
              [disabled]="!currentFile"
              (click)="upload()"
            >
              Navigate
            </button>
          </mat-toolbar>
    
          <input
            type="file"
            id="fileInput"
            (change)="selectFile($event)"
            name="fileInput"
            accept=".xml"
          />
        </div>
      </mat-form-field>
    </div>
  </div>
</ng-container>

<ng-template #showWindow>

  editor window is here

  <div class ="editor-window">
    <markdown
  lineNumbers
  [start]="5"
  data]="markdown">
  
</markdown>

  </div>
</ng-template>



